@model DOANLTWT3BANDIENTHOAIDIDONG.Models.ViewModels.ProductSearchVM

@{
    ViewBag.Title = "Search Product";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<html>
<meta name="viewport" content="width=device-width" />
<style>
    .search-container, .order-container{
        padding-top:20px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
</style>
<body>
    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
    {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new
       {
           @class = "form-control",
           placeholder = "Nhập tên, mô tả hoặc chủng loại sản phẩm"
       })
            @Html.TextBoxFor(m => m.MinPrice, new
       {
           @class = "form-control",
           placeholder = "Nhập Giá Tối Thiểu",
           type = "number"
       })
            @Html.TextBoxFor(m => m.MaxPrice, new
       {
           @class = "form-control",
           placeholder = "Nhập Giá Tối Đa",
           type = "number"
       })
        </div>
        <div class="form-group order-container">
            Sắp xếp theo
            @Html.ActionLink("Tên Tăng Dần", "Index",
           new { sortOrder = "name-asc", searchTerm = Model.SearchTerm }
           )
            @Html.ActionLink("Tên Giảm Dần", "Index",
           new { sortOrder = "name-desc", searchTerm = Model.SearchTerm }
           )
            @Html.ActionLink("Giá Tăng Dần", "Index",
           new { sortOrder = "price-asc", searchTerm = Model.SearchTerm }
           )
            @Html.ActionLink("Giá Giảm Dần", "Index",
           new { sortOrder = "price-desc", searchTerm = Model.SearchTerm }
           )
        </div>
    }
    @Html.Partial("PVListProduct", Model)
</body>
</html>